<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="upload-section">
    <!-- 상품 올리는 칸을 추가하세요 -->
    <h2>Upload Product</h2>
    <form action="/saveProduct" method="post">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName"><br><br>
        <label for="productPrice">Product Price:</label>
        <input type="text" id="productPrice" name="productPrice"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>